.cafe {
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
  }

  &__img {
    border-radius: 40px;
    object-fit: cover;
    max-height: 175px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__menu {
    grid-column: span 2;
    grid-row: span 2;
    max-height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__item-title {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: var(--color-accent);
    text-align: center;
  }
}

@media (max-width: 999px) {
  .cafe {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 799px) {
  .cafe {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
